
<hr>
<h6> <b> RECEIVED REQUEST(S): {{ requests.length }} </b> </h6>
<hr>

<p> {{ msg }} </p>
<p *ngIf="!requests.length && !msg"> no requests yet </p>

<app-single-received-request *ngFor="let request of requests"
                             [request]="request"
                             [userId]="userId"
                             [pageOwnerId]="pageOwnerId">
</app-single-received-request>

<button class="btn btn-dark btn-sm"
        *ngIf="url === userUrl"
        [routerLink]="['/user', userId]">
        back
</button>

<router-outlet></router-outlet>



